rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /images/{document=**} {
      allow read, write: if true;
    }
    match /documents/{document=**} {
      allow read, write: if true;
    }
    match /faces/{document=**} {
      allow read: if true;
      allow write: if true; // Or restrict to admin/script
    }
  }
}